body {
  font-family: "Baloo 2", sans-serif;
}

h1, h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0px;
  cursor: pointer;
}

h3 {
  font-size: 2.3rem;
}

p {
  text-align: center;
}

.introLayout {
  background-color: #d3145a;
  color: #FFFFFF;
}

.columnlayout {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

a.button {
  display: inline-block;
  margin: auto 0.1em 0.15em;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Baloo 2", sans-serif;
  font-size: 1.15rem;
  line-height: 1.4rem;
  /* reduces overall height of buttons */
  text-align: center;
  transition: all 0.2s;
  width: 100%;
}

.player1 a.button {
  background-color: #faaf3a;
  color: #000000;
}

.intro a.button {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.2rem;
  line-height: 1.2;
}

.player1 a.button:hover {
  background-color: #fcc775;
}

.player2 a.button {
  background-color: #d3145a;
  color: #ffffff;
}

.player2 a.button:hover {
  background-color: #e05b8c;
}

a.button.reset {
  background-color: #e3e3e3;
  color: #9f005d;
  border-radius: 0.2em;
  font-size: 1.5rem;
  line-height: 3rem;
  /* adds height to this button only */
  margin: 0.5em 0;
}

a.button.reset:hover {
  background-color: #f3f3f3;
}

input {
  display: block;
  margin: 0.2em auto;
  margin-bottom: 1rem;
  background-color: #f6d0de;
  font-size: 1.5rem;
  font-family: "Baloo 2", sans-serif;
  border-radius: 0.3em;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

div {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

#victory img {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  z-index: 3;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  object-fit: cover;
}

#mask {
  position: fixed;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

@media all and (max-width:30em) {
  a.button {
    display: block;
    margin: 0.2em auto;
  }
}
