body {
  font-family: "Baloo 2", sans-serif;
}

h1, h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0px;
  cursor: pointer;
}

h3 {
  font-size: 3rem;
}

a.button {
  display: inline-block;
  margin: auto 0.1em 0.15em;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Baloo 2", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
}

.player1 a.button {
  background-color: #faaf3a;
  color: black;
}

.player2 a.button {
  background-color: #d3145a;
  color: #ffffff;
}

a.button.reset {
  background-color: #e3e3e3;
  color: #9f005d;
  border-radius: 0.2em;
  font-size: 1.5rem;
  margin: 0.5em 0;
}

a.button:hover {
  border-color: rgba(255, 255, 255, 1);
}

.columnlayout {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

@media all and (max-width:30em) {
  a.button {
    display: block;
    margin: 0.2em auto;
  }
}
